.panel {
  width: 100%;
  min-height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: $top-panel-background;

  &__container {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__logo {
    text-transform: uppercase;
    @include font('Arial', $white-text, 16px, 16px, 900);
  }

  &__elements {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    & :last-child {
      margin-right: 0;
    }
  }
}
