{
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "react",
    "prettier",
    "import"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "tsx": true
    }
  },
  "env": {
    "browser": true
  },
  "rules": {
    "linebreak-style": 0,
    "no-use-before-define": "off",
    "react/jsx-filename-extension": "off",
    "@typescript-eslint/no-var-requires": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off"
  }
}