@font-face {
  font-family: "DendaNewLightC";
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/DendaNewLightC/DendaNewLightC.woff2') format("woff2"),
  url('../assets/fonts/DendaNewLightC/DendaNewLightC.ttf') format("ttf"),
  url('../assets/fonts/DendaNewLightC/DendaNewLightC.woff') format("woff");
}
