$max-width: 1140px;

$top-panel-background: #2f3437;

$white-text: #fafafa;

$black-text: #2f3437;

$sidebar-background: #f6f8fa;

$sidebar-border: #e1e4e8;

$breakpoints: (
        1920: "screen and (max-width: 1920px)",
        1240: "screen and (max-width: 1240px)",
        480: "screen and (max-width: 480px)",
        320: "screen and (max-width: 320px)",
);
