.structure {
  width: 25%;
  background-color: $sidebar-background;
  height: calc(100vh - 70px);
  border-right: 1px solid $sidebar-border;
  padding-top: 15px;
  padding-left: 20px;

  &-title {
    @include font('Arial', $black-text, 18px, 18px, bold);
  }
}
